@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk selector to override the default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f7f7f7;
}

/* Header */
header {
    background: white;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
}

header a:hover {
    color: #e44d26;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e44d26;
}

#logo {
    color: #ff7f50;
}

#menu {
    list-style-type: none;
    font-size: 1.2em;
    letter-spacing: 4px;
    margin-bottom: 4px;
}

.active {
    border-bottom: 1px solid black;
}

/* Main content*/
main {
    /* Pushes the footer all the way down */
    flex: 1 0 auto;

}

/* Hero */
#hero {
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
    color: hsl(5, 9%, 28%);
    margin-top: 120px;
}

#hero h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

#hero p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

#hero .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Featured Destinations */
#featured-destinations {
    text-align: center;
    padding: 50px 0;
}

.destination {
    display: inline-block;
    text-align: left;
    margin: 20px;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.destination:hover {
    transform: scale(1.05);
}

.destination img {
    max-width: 100%;
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
}

.destination h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.destination p {
    margin: 0 10px 15px;
    color: #555;
}

/* Signup Form*/
#signup-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: url("../images/bg-img-form/pexels-bg1.png") no-repeat center center / cover;
}

#signup-form h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
    margin-top: 10vh;
    text-align: center;

}

#signup-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

#signup-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.radio-group label {
    margin-right: 10px;
}

#signup-form button {
    display: block;
    margin: 0 auto;
    padding: 10px 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signup-form button:hover {
    background-color: #0056b3;
}

/* Testimonials */
#testimonials {
    text-align: center;
    margin: 40px 0;
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;

}

.testimonial {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

/* Some bg colors for each testimonial */
.testimonial:nth-child(1) {
    background-color: #f8f9fa;
}

.testimonial:nth-child(2) {
    background-color: #e9ecef;

}

.testimonial:nth-child(3) {
    background-color: #d1ecf1;

}

.testimonial:nth-child(4) {
    background-color: #d4edda;

}

.testimonial:nth-child(5) {
    background-color: #ffe5d0;

}

.testimonial:nth-child(6) {
    background-color: #f3d9f2;

}

#testimonials h2 {
    color: rgb(209, 203, 227);
}

.testimonial p {
    margin-bottom: 10px;
}

.testimonial .author {
    font-style: italic;
    color: #6c757d;
}

/* Contact */
#contact {
    text-align: center;
    color: #6c757d;
}

.contact-boxes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-box-left,
.contact-box-right,
.contact-box-center {
    flex: 1 0 100%;
    max-width: 300px;
}

.contact-box-left h3,
.contact-box-right h3,
.contact-box-center h3 {
    margin-bottom: 15px;
}

.contact-box-right {
    text-align: right;
}

.contact-box-container table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.contact-boxes-container table,
.contact-boxes-container th,
.contact-boxes-container td {
    border: 1px solid #ced4da;
}

.contact-boxes-container th,
.contact-boxes-container td {
    padding: 8px;
    text-align: center;
}

.contact-boxes-container th {
    /* Might change the colors later on*/
    background-color: #007bff;
    color: white;
}

/* Newsletter */
#newsletter {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    background-color: #ffcccb;
    border-radius: 10px;
}

#newsletter label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #e44d26;
}

#newsletter input[type="email"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #e44d26;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#newsletter button {
    padding: 15px 30px;
    background-color: #e44d26;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#newsletter button:hover {
    /* A bit darker coral color for hover */
    background-color: #d33f1a;
}

/* Map section */
#map-wrapper {
    margin-top: 40px;
}

#map-wrapper h3 {
    display: none;
}

/* Footer */
footer {
    background-color: #e44d26;
    color: white;
    text-align: center;
}

#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}